<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cy.pj.sys.dao.RoleMenuDao">
	<!-- findObjectByMenuId -->
	<select id="findObjectByMenuId"> select id,role_id,menu_id from
		sys_role_menus where
		menu_id=#{menuId} </select>

	<!--
        deleteObjectByMenuId
        删除指定角色id的关系表数据
        在删除角色时要先删除关系表内容
    -->
	<delete id="deleteObjectByMenuId"> delete from sys_role_menus <choose>
			<when test="menuId!=null and menuId > 0"> where menu_id = #{menuId} </when>
			<otherwise> where 1=2 </otherwise>
		</choose>
	</delete>


	<!--
        deleteObjectByRoleId
        删除指定角色id的关系表数据
        在删除角色时要先删除关系表内容
    -->
	<delete id="deleteObjectByRoleId"> delete from sys_role_menus <choose>
			<when test="roleId!=null and roleId > 0"> where role_id = #{roleId} </when>
			<otherwise> where 1=2 </otherwise>
		</choose>
	</delete>


	<!--
        deleteObjectByRoleIds
        删除指定角色ids的关系表数据
        在删除角色时要先删除关系表内容
    -->
	<delete id="deleteObjectByRoleIds"> delete from sys_role_menus <choose>
			<when test="roleIds != null and roleIds.length > 0">
				<where>
					<foreach collection="roleIds" item="roleId" separator="or">
		role_id = #{roleId}
					</foreach>
				</where>
			</when>
			<otherwise>
				where 1=2
			</otherwise>
		</choose>
	</delete>
</mapper>