<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.pj.sys.dao.UserRoleDao">


    <!-- deleteObjectByRoleId -->

    <delete id="deleteObjectByRoleId"> 
        delete from sys_user_roles 
        <choose>
            <when test="ids!=null and ids.length>0">
                <where>
                    <foreach collection="ids" item="id" separator="or">
                        id=#{id}
                    </foreach>
                </where>
            </when>
            <otherwise>
                where 1=2
            </otherwise>
        </choose>

    </delete>
</mapper>